@font-face{
  font-family: iran-yekan;
  src: url(../assets/fonts/IRANYekan.ttf);
}

#icon-title-group{
  margin-right:13.671875vw;
  margin-left: 87.109375vw;
  margin-top: 4.16vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#title{
  font-size: 18px;
  padding-right: 1vw;
  color: white;
  font-family: iran-yekan, serif;
}

#icon{
  height:4.166666666666666vh;
  width:2.34375vw;
}

#orange-text{
  color: #FF6200;
  height:5.555555555555555vh;
  width:17.96875vw;
  margin-top:48.61111111111111vh;
  margin-right:10.9375vw;
  margin-left:71.875vw;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  font-family: iran-yekan, serif;
}

#white-text{
  color: white;
  position: absolute;
  margin-top:58vh;
  margin-right:10.15vw;
  margin-left:70.5vw;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  font-family: iran-yekan, serif;
  height:4.861111111111112vh;
  width:21.484375vw;
}

#papers{
  position: absolute;
  margin-top:26.38888888888889vh;
  margin-left:10.9375vw;
}

#paper-image{
  height:55.55555555555556vh;
  width:35.15625vw;
}
