@font-face{
  font-family: iran-yekan;
  src: url(../assets/fonts/IRANYekan.ttf);
}

#icon-title-group{
  margin-right:13.671875vw;
  margin-left: 87.109375vw;
  margin-top: 4.16vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#title{
  font-size: 1.3vw;
  padding-right: 1vw;
  color: white;
  font-family: iran-yekan, serif;
}

#icon{
  height:4.166666666666666vh;
  width:2.34375vw;
}

#orange-text{
  color: #FF6200;
  height:5.555555555555555vh;
  width:17.96875vw;
  margin-top: 25vw;
  margin-right:10.9375vw;
  margin-left:71.875vw;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 2.1vw;
  font-family: iran-yekan, serif;
}

#pattern{
  position: relative;
  width: 100%;
  height: auto;
}

#white-text{
  color: white;
  position: absolute;
  margin-top: 30vw;
  margin-right:10.15vw;
  margin-left:70.5vw;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4vw;
  font-family: iran-yekan, serif;
  height:4.861111111111112vh;
  width:21.484375vw;
}

#papers{
  position: absolute;
  margin-top: 15vw;
  margin-left:10.9375vw;
  height:55.55555555555556vh;
  width:35.15625vw;
}

#paper-image{
  height:auto;
  width:90%;
}

@media screen and (max-width: 450px){
  #title{
    font-size: 5vw;
    padding-right: 1.5vw;
  }

  #icon-title-group{
    margin-right:28vw;
    margin-top:6.161971830985916vh;
    margin-left:72.22222222222221vw;
  }

  #icon{
    height:5.28169014084507vh;
    width:8.333333333333332vw;
  }

  #pattern{
    margin-top: -30vh;
    width: auto;
    height: 100%;
  }

  #orange-text{
    height:7.042253521126761vh;
    width:50vw;
    font-size: 6vw;
    margin-top:36.971830985915496vh;
    margin-left:30.166666666666668vw;
  }

  #white-text{
    margin-right:10.15vw;
    font-size: 5vw;
    height:6.161971830985916vh;
    width:61.111111111111114vw;
    margin-top:43vh;
    margin-left:20.5vw;
  }

  #papers{
    margin-top:55.45774647887324vh;
    margin-left:16.666666666666664vw;
    height:35.2112676056338vh;
    width:66.66666666666666vw;
  }

  #paper-image{
    width:100%;
  }
}
