.wrapper #progress-indicator{
    margin: 27.5vh 27.5vw;
    height: 45vh;
    width:45vw;
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 99vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 500px){
    .wrapper {
        height: 100vh;
        width: 100vw;
    }

    .wrapper #progress-indicator {
        width: 100%;
        height: 100%;
    }
}
