p { margin: 0.8vw}

#buttons .button{
  background-color: transparent;
  border-color: transparent;
  width: 20vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
}

#sample-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.sample-row{
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
}

#buttons{
  height: 26vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.white-title-sample{
  color: white;
  line-height: 0;
  margin-right: 1.5vw;
  font-weight: bold;
  font-size: 1.3vw;
  font-family: iran-yekan, serif;
}


.description-sample{
  color: white;
  direction: rtl;
  font-family: iran-yekan, serif;
  font-size: 1.1vw;
}

.dot{
  margin-right: -1vw;
}

#image-sample{
  width: 35%;
  height: auto;
}

#sample-title{
  color: #FF6200;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: iran-yekan, serif;
}

.mobile-image{
  display: none;
  height:40vh;
  margin-bottom: 5vh;
}

@media screen  and (max-width: 500px){
  #sample-title{
    font-size: 5.3vw;
  }

  #image-sample{
    display: none;
  }

  .dot{
    display: none;
  }

  .mobile-image{
    display: flex;
  }

  #sample-section{
    margin-top: 50vh;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height:65.14084507042254vh;
    width: 80vw;
  }

  .white-title-sample{
    color: #FF6200;
    font-size: 5.1vw;
    height:8.80281690140845vh;
    width:40vw;
    text-align: right;
  }

  #buttons{
    justify-content: center;
  }

  .sample{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .description-sample{
    font-size: 4vw;
    margin-top: -5vh;
    height:3.5211267605633805vh;
    width:61.111111111111114vw;
  }

  .button{
    width: 80vw;
    margin-top: 25vh;
  }

  .float-right{
    margin-right: -10vw;
  }

  .float-left{
    margin-right: 4vw;
    margin-top: 2.5vh;
  }

  .text-left{
    text-align: left;
    margin-right: 15vw;
  }

  .text-left-title{
    text-align: left;
    margin-right: 35vw;
  }
}
