/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff6200;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

#sample-footer-space{
  height: 50vh;
}

#utils-sample-space{
  height: 50vh;
}

#usage-utils-space{
  height: 120vh;
}

#abilities-usage-space{
  height: 50vh;
}

#main-abilities-space{
  height: 25vh;
}

@media screen and (max-width: 500px){
  #sample-footer-space{
    height: 160vh;
  }

  #utils-sample-space{
    height: 40vh;
  }

  #usage-utils-space{
    height: 25vh;
  }

  #abilities-usage-space{
    height: 35vh;
  }

  #main-abilities-space{
    height: 25vh;
  }

}

.alefba{
  overflow-x: hidden;
}

*{
  transition: 1s;
}
